
:root{
  --yellow:#F9DF5E;
  --red: #ff575f;
  --blue:#AABBCC  ;
  --green:  #009343  ;
}

.recipes{
  /* height: 5000px; */
  padding: 0 5%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.tabel_for_all_recipes{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.search{
  width: 100%;
  height: 100px;
  text-align: center;
}
.all-food{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width:680px) {
  .tabel_for_all_recipes{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}